<div
  th:fragment="rootlist (objname)"
  th:with="datasource=${__${objname+'datasource'}__}"
  th:unless="${__${objname+'datasource'}__}==null"
>
  <a href="/user/_?op=c">Create</a>
  <table>
    <tbody>
      <tr th:each="obj : ${datasource}">
        <td th:text="${obj.password}">password</td>
        <td th:text="${obj.username}">username</td>
        <td>
          <a th:href="'username_' + ${obj.username.length()} + '_' + ${obj.username} + '?op=r'">Read</a>
          <a th:href="'username_' + ${obj.username.length()} + '_' + ${obj.username} + '?op=u'">Update</a>
          <a th:href="'username_' + ${obj.username.length()} + '_' + ${obj.username} + '?op=d'">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- ####################################################################### -->
<div
  th:fragment="createupdateform (objname)"
  th:with="cmdobj=${__${objname+'cmdobj'}__}, utils=${__${objname+'utils'}__}"
  th:unless="${__${objname+'cmdobj'}__}==null"
>
    <h1>[Create Form] - Create use case</h1>
    <hr />

    <form action="/user" th:action="${cmdobj.actionUrls[0]}" th:object="${__${objname+'cmdobj'}__}" method="post">
      <input type="hidden" name="id" th:if="*{actionCode} == 'c'"/>
      <input type="hidden" name="id" th:value="*{user.username}" th:if="*{actionCode} == 'u'"/>
      <label for="username">Username: </label><input type="text" th:field="*{user.username}" /> <br />
      <label for="password">Password: </label><input type="text" th:field="*{user.password}" /> <br />
      <button type="submit" th:name="op" th:text="'Create'" value="p" th:if="*{actionCode} == 'c'">Create</button>
      <button type="submit" th:name="op" th:text="'Update'" value="s" th:if="*{actionCode} == 'u'">Update</button>
    </form>

    <h1>Roles</h1>

    <form action="/user" th:action="${cmdobj.actionUrls[1]}" th:object="${__${objname+'cmdobj'}__}" method="post">
      <label for="authorities.id">Id: </label><input type="text" th:field="*{authorities.id}" /> <br />
      <button type="submit" th:name="op" th:text="'Add C'" value="c" th:if="*{actionCode} == 'c'">[Add]</button>
      <button type="submit" th:name="op" th:text="'Add U'" value="c" th:if="*{actionCode} == 'u'">[Add]</button>
    </form>
  
    <table>
      <tbody>
        <tr th:each="obj : ${cmdobj.user.authorities}">
          <td th:text="${obj.id}">id</td>
          <td th:with="objkey=${utils.keyPool.searchOrCreateNewKey(obj)}">
            <a th:href="${cmdobj.actionUrls[1]} + '/' + ${objkey} + '?op=u'">Update</a>
            <a th:href="${cmdobj.actionUrls[1]} + '/' + ${objkey} + '?op=d'">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  <a href="/user/_?op=l">Cancel</a>
</div>


<!-- ####################################################################### -->
<div
  th:fragment="readform (objname)"
  th:with="cmdobj=${__${objname+'cmdobj'}__}, utils=${__${objname+'utils'}__}"
  th:unless="${__${objname+'cmdobj'}__}==null"
>
    <h1>[Read Form] - Read use case</h1>
    <hr />

    <form action="/user" th:action="${cmdobj.actionUrls[0]}" th:object="${__${objname+'cmdobj'}__}" method="post">
      <!-  input type="hidden" name="id" th:value="*{user.username}" th:if="*{actionCode} == 'r'"/ -->
      <label for="username">Username: </label><input type="text" th:field="*{user.username}" /> <br />
      <label for="password">Password: </label><input type="text" th:field="*{user.password}" /> <br />
      <button type="submit" th:name="op" th:text="'Create'" value="p" th:if="*{actionCode} == 'c'">Create</button>
      <button type="submit" th:name="op" th:text="'Update'" value="s" th:if="*{actionCode} == 'u'">Update</button>
    </form>

    <h1>Roles</h1>

    <form action="/user" th:action="${cmdobj.actionUrls[1]}" th:object="${__${objname+'cmdobj'}__}" method="post">
      <label for="authorities.id">Id: </label><input type="text" th:field="*{authorities.id}" /> <br />
      <button type="submit" th:name="op" th:text="'Add C'" value="c" th:if="*{actionCode} == 'c'">[Add]</button>
      <button type="submit" th:name="op" th:text="'Add U'" value="c" th:if="*{actionCode} == 'u'">[Add]</button>
    </form>
  
    <table>
      <tbody>
        <tr th:each="obj : ${cmdobj.user.authorities}">
          <td th:text="${obj.id}">id</td>
          <td th:with="objkey=${utils.keyPool.searchOrCreateNewKey(obj)}">
            <a th:href="${cmdobj.actionUrls[1]} + '/' + ${objkey} + '?op=r'">Read</a>
          </td>
        </tr>
      </tbody>
    </table>
  <a href="/user/_?op=l">Cancel</a>
</div>


